@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --bg-color: #202020;
  --accent-color: #ab9df2;
  --body-text-color: #ffffff;
  --heading-text-color: #ffffff;
}

html {
  align-items: center;
  font: 22px 'Rubik', sans-serif;
  color: var(--body-text-color);
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  margin: 1em;
  padding: 1em;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 2em;
  grid-column: 1 / -1;
  margin: 0;
  text-align: right;
  color: var(--heading-text-color);
  padding: 0 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--accent-color);
}

nav {
  display: grid;
  grid-row-gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin: 0 1em;
  min-width: 24em;
  padding: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 2.4em;
  white-space: nowrap;
  text-align: right;
}

li {
  line-height: 1.5em;
}

li:first-child {
  font-weight: bold;
  line-height: 1.5em;
  color: var(--accent-color);
}

img {
  height: auto;
  object-fit: cover;
  object-position: 50% 100%;
  width: 9em;
}
